@using OrchardCore.ContentManagement;
@using OrchardCore.Contents.ViewModels;
@inject IContentManager ContentManager
@inject OrchardCore.Environment.Shell.ShellSettings ShellSettings

@{
    var typeDisplayName = Model.TypeDisplayName;
    var pageTitle = T["内容管理"];
    var createLinkText = T["创建新内容"];
    if (!string.IsNullOrWhiteSpace(typeDisplayName))
    {
        pageTitle = T["管理{0}类型的内容", (string)typeDisplayName];
        createLinkText = T["创建新的{0}", (string)typeDisplayName];
    }

    var tenantPrefix = ("/" + ShellSettings.RequestUrlPrefix ?? string.Empty).TrimEnd('/');
    var formActionWithoutTypeName = tenantPrefix + "/Admin/Contents/ContentItems";

    IEnumerable<string> cultures = Model.Options.Cultures;
    List<SelectListItem> contentStatuses = new List<SelectListItem>() {
new SelectListItem() { Text = T["最新的"].Value, Value = ContentsStatus.Latest.ToString() },
new SelectListItem() { Text = T["私有的"].Value, Value = ContentsStatus.Owner.ToString() },
new SelectListItem() { Text = T["已发布"].Value, Value = ContentsStatus.Published.ToString() },
new SelectListItem() { Text = T["未发布"].Value, Value = ContentsStatus.Draft.ToString() },
new SelectListItem() { Text = T["所有版本"].Value, Value = ContentsStatus.AllVersions.ToString() }
};
    List<SelectListItem> contentSorts = new List<SelectListItem>() {
new SelectListItem() { Text = T["最新创建"].Value, Value = ContentsOrder.Created.ToString() },
new SelectListItem() { Text = T["最新修改"].Value, Value = ContentsOrder.Modified.ToString() },
new SelectListItem() { Text = T["最新发布"].Value, Value = ContentsOrder.Published.ToString() },
new SelectListItem() { Text = T["标题"].Value, Value = ContentsOrder.Title.ToString() }
};
}
<h1>@RenderTitleSegments(pageTitle)</h1>

@using (Html.BeginForm("list", "Admin", FormMethod.Post, new { id = "items-form" }))
{
    @*<fieldset class="bulk-actions">
                <label><input type="checkbox" class="check-all" />@T["Select all"]</label>@T[" | "]
                <label for="publishActions">@T["Actions:"]</label>
                <select id="publishActions" name="Options.BulkAction">
                    @Html.SelectOption((ContentsBulkAction)Model.Options.BulkAction, ContentsBulkAction.None, T("Choose action...").ToString())
                    @Html.SelectOption((ContentsBulkAction)Model.Options.BulkAction, ContentsBulkAction.PublishNow, T("Publish Now").ToString())
                    @Html.SelectOption((ContentsBulkAction)Model.Options.BulkAction, ContentsBulkAction.Unpublish, T("Unpublish").ToString())
                    @Html.SelectOption((ContentsBulkAction)Model.Options.BulkAction, ContentsBulkAction.Remove, T("Delete").ToString())
                </select>
                <button type="submit" name="submit.BulkEdit" value="yes">@T["Apply")</button>
            </fieldset>
        <fieldset class="bulk-actions container-fluid">
            <label for="filterResults" class="bulk-filter">@T["Show"]</label>
                <select id="filterResults" name="Options.SelectedFilter">
                    @Html.SelectOption((string)Model.Options.SelectedFilter, "", T["any (show all)"])
                    @foreach (var filterOption in Model.Options.FilterOptions) {
                        @Html.SelectOption((string)Model.Options.SelectedFilter, (string)filterOption.Key, (string)filterOption.Value)
                    }
                </select>
        </fieldset>*@
    <fieldset class="filter-options container-fluid">
        <div class="row">
            <div class="col-md-2 col-xl-1 form-group">
                <label for="contentResults" class="label col-form-label">@T["筛选"]</label>
            </div>
            <div class="col-md-4 col-xl-3 form-group">
                <select id="contentResults" class="form-control" name="Id">
                    <option value="">@T["所有内容类型"]</option>
                    @foreach (var option in Model.Options.FilterOptions)
                    {
                        string isSelected = option.Key == Model.Options.SelectedFilter ? "selected='selected'" : string.Empty;
                        <!option @isSelected value="@option.Key">@option.Value</!option>
                    }
                </select>
            </div>
            @*@if (cultures.Count() > 1) {
                <div class="col-md-2 col-xl-1 form-group">
                    <label for="filterCultures" class="label col-form-label">@T["Culture"]</label>
                </div>
                <div class="col-md-4 col-xl-3 form-group">
                    <select id="filterCultures" class="form-control" name="Options.SelectedCulture">
                        <option value="">@T["All cultures"]</option>
                        @foreach (string culture in cultures) {
                            string isSelected = culture == Model.Options.SelectedCulture ? "selected='selected'" : string.Empty;
                            <!option @isSelected value="culture">@System.Globalization.CultureInfo.GetCultureInfo(culture).DisplayName</!option>
                        }
                    </select>
                </div>
                }*@
            <div class="col-md-2 col-xl-1 form-group">
                <label for="filterResults" class="label col-form-label">@T["显示"]</label>
            </div>
            <div class="col-md-4 col-xl-2 form-group">
                <select id="filterResults" class="form-control" name="Options.ContentsStatus" asp-items="@contentStatuses"></select>
            </div>
            <div class="col-md-2 col-xl-1 form-group">
                <label for="orderResults" class="label col-form-label">@T["排序"]</label>
            </div>
            <div class="col-md-4 col-xl-3 form-group">
                <select id="orderResults" class="form-control" name="Options.OrderBy" asp-items="@contentSorts"></select>
            </div>
            <div class="col-md-2 col-xl-1 form-group">
                <button type="submit" class="btn btn-primary" name="submit.Filter">@T["应用"]</button>
            </div>
        </div>
    </fieldset>

    @if (Model.ContentItems.Count > 0)
    {
        <ul class="list-group">
            @foreach (var contentItemSummary in Model.ContentItems)
            {
                <li class="list-group-item">
                    @await DisplayAsync(contentItemSummary)
                </li>
            }
        </ul>
    }
    else
    {
        <div class="alert alert-info">
            @T["没有找到相关内容。"]
        </div>
    }

    @await DisplayAsync(Model.Pager)
}

@* This is because ContentTypesAdminNode requires the ContenType to be available as part of the url *@
<script at="Foot" type="text/javascript">
    $(function () {
        $("#contentResults").change(function (e) {
            var value = $('#contentResults option:selected').val();
            console.log(value);
            var newAction = '@formActionWithoutTypeName' + '/' + value;
            $('#items-form').attr('action', newAction);
        });
    })
</script>