@using OrchardCore.Mvc.Utilities
@using OrchardCore.ContentManagement.Metadata.Settings;

@model AddFieldViewModel

<h1>@RenderTitleSegments(T["将新字段添加到 \"{0}\"", Model.Part.DisplayName()])</h1>

<form asp-action="AddFieldTo">
    @Html.ValidationSummary()
    <fieldset class="form-group">
        <div class="row col-md">
            <label for="DisplayName">@T["显示名称"]</label>
            <input asp-for="DisplayName" class="form-control" autofocus />
            <span class="hint">@T["屏幕上显示的字段名称"]</span>
        </div>
    </fieldset>

    <fieldset class="form-group">
        <div class="row col-sm">
            <label for="Name">@T["技术名称"]</label>
            <input asp-for="Name" class="form-control" />
            <span class="hint">@T["字段的技术名称"]</span>
        </div>
    </fieldset>

    <fieldset class="form-group">
        <label for="DisplayName">@T["字段类型"]</label>
        <ul class="list-group w-md-50">
            @for (var i = 0; i < Model.Fields.Count; i++)
            {
                <li class="list-group-item">
                    <div class="custom-control custom-radio">
                        <input type="radio" class="custom-control-input" asp-for="FieldTypeName" id="@Html.IdFor(m => m.Fields[i])" value="@Model.Fields[i]" checked="@(i == 0)">
                        <label class="custom-control-label" asp-for="Fields[i]">@Model.Fields[i].CamelFriendly()</label>
                    </div>
                </li>
            }
        </ul>
    </fieldset>

    <fieldset class="form-group">
        <button class="btn btn-primary" type="submit">@T["保存"]</button>
    </fieldset>
</form>

<script at="Foot" type="text/javascript">
//<![CDATA[
    $(function(){
        var $name = $("#@Html.IdFor(m => m.Name)");
        var $displayName = $("#@Html.IdFor(m => m.DisplayName)");

        var nameAltered;
        $name.keypress(function() {
            nameAltered = true;
        });

        var compute = function() {
            // stop processing automatically if altered by the user
            if(nameAltered) {
                return true;
            }

            $name.val(getTechnicalName($displayName.val()));
        };

        $displayName.keyup(compute);
        $displayName.blur(compute);
    })
//]]>
</script>
