@model CreateTypeViewModel

<h1>@RenderTitleSegments(T["新内容类型"])</h1>

<form asp-action="Create">
    @Html.ValidationSummary()

    <fieldset class="form-group">
        <label asp-for="DisplayName">@T["显示名称"]</label>
        <input asp-for="DisplayName" class="form-control w-md-25" autofocus />
        <span class="hint">@T["屏幕显示的类型名称"]</span>
    </fieldset>

    <fieldset class="form-group">
        <label asp-for="Name">@T["技术名称"]</label>
        <input asp-for="Name" class="form-control w-md-25" />
        <span class="hint">@T["类型的技术名称"]</span>
    </fieldset>

    <fieldset class="form-group">
        <button class="btn btn-primary" type="submit">@T["创建"]</button>
    </fieldset>
</form>

<script at="Foot" type="text/javascript">
//<![CDATA[
    $(function(){
        var $name = $("#@Html.IdFor(m => m.Name)");
        var $displayName = $("#@Html.IdFor(m => m.DisplayName)");

        var nameAltered;
        $name.keypress(function() {
            nameAltered = true;
        });

        var compute = function() {
            // stop processing automatically if altered by the user
            if(nameAltered) {
                return true;
            }

            $name.val(getTechnicalName($displayName.val()));
        };

        $displayName.keyup(compute);
        $displayName.blur(compute);
    })
//]]>
</script>
