@model OrchardCore.Themes.Models.SelectThemesViewModel
<style asp-src="/OrchardCore.Themes/Styles/themes.admin.css"></style>
<div class="alert alert-warning">
    <h4>@T["修改默认主题"]</h4>
    <p>@T["修改站点的前台和后台管理主题"]</p>
</div>

@if (!Model.Themes.Any())
{
    <p>@T["没有安装任何主题"]</p>
}
else
{
    <div class="row">
        @foreach (var themeEntry in Model.Themes)
        {
            <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="card theme-card">
                    <h4 class="card-title">@themeEntry.Name</h4>
                    <div class="card-theme-thumbnail" style="background-image:url('@Url.Content($"~/{themeEntry.Extension.Id}/Theme.png")');"></div>
                    <div class="card-body">
                        <p>@themeEntry.Extension.Manifest.Description</p>
                        @if (!string.IsNullOrWhiteSpace(themeEntry.Extension.Manifest.Author))
                        {
                            <small>@T["主题作者： {0}", themeEntry.Extension.Manifest.Author]</small><br />
                        }
                        @if (!string.IsNullOrWhiteSpace(themeEntry.Extension.Manifest.Website))
                        {
                            <small>@T["主题官网"]： <a href="@themeEntry.Extension.Manifest.Website" target="_blank">@themeEntry.Extension.Manifest.Website</a></small><br />
                        }
                        <small>@T["主题版本： {0}", themeEntry.Extension.Manifest.Version]</small>
                    </div>
                    <div class="card-footer text-muted text-xs-right">
                        @if (!themeEntry.IsCurrent)
                        {
                            <div class="row">
                                <div class="col-sm-6">
                                    <form asp-route-action="SetCurrentTheme" asp-route-id="@themeEntry.Extension.Id" method="post">
                                        <button type="submit" class="btn btn-sm btn-primary">@T["设为默认主题"]</button>
                                    </form>
                                </div>
                                <div class="col-sm-6">
                                    <div class="pull-right">
                                        @if (themeEntry.Enabled)
                                        {
                                            <form asp-route-action="Disable" asp-route-id="@themeEntry.Extension.Id" method="post">
                                                <button type="submit" class="btn btn-sm btn-default">@T["禁用该主题"]</button>
                                            </form>
                                        }
                                        else
                                        {
                                            <form asp-route-action="Enable" asp-route-id="@themeEntry.Extension.Id" method="post">
                                                <button type="submit" class="btn btn-sm btn-default">@T["使用该主题"]</button>
                                            </form>
                                        }
                                    </div>
                                </div>
                            </div>
                        }
                        else
                        {
                            @T["默认的{0}主题", themeEntry.IsAdmin ? "【后台管理】" : "【站点】"]
                        }
                    </div>
                </div>
            </div>
        }
    </div>

    <div class="alert alert-danger">
        <h4>@T["重置默认主题"]</h4>
        <p>@T["重置主题操作，使用于不能使用主题的站点"]</p>
        <a asp-action="ResetSiteTheme" itemprop="UnsafeUrl RemoveUrl" data-message="@T["是否确定重置站点主题？"]" class="btn btn-danger">@T["重置站点主题"]</a>
        <a asp-action="ResetAdminTheme" itemprop="UnsafeUrl RemoveUrl" data-message="@T["是都确定重置后台管理主题？"]" class="btn btn-danger">@T["重置后台管理主题"]</a>
    </div>
}