@using OrchardCore.ContentManagement.Metadata.Settings
@model ContentPartSettingsViewModel

<fieldset class="form-group">
    <div class="row col-md ">
        <label asp-for="DisplayName" >@T["显示名称"]</label>
        <input asp-for="DisplayName" class="form-control" placeholder="@Model.ContentPartDefinition.DisplayName()" />
        <span class="hint">@T["屏幕中显示的部件名称，留空则显示默认值。"]</span>
    </div>
</fieldset>

<fieldset class="form-group">
    <div class="row col-lg ">
        <label asp-for="Description">@T["部件描述"]</label>
        @Html.ValidationMessageFor(m => m.Description)
        <input asp-for="Description" class="form-control" />
        <span class="hint">@T["（可选）部件的相关描述。"]</span>
    </div>
</fieldset>

<fieldset class="form-group">
    <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" asp-for="Attachable">
        <label class="custom-control-label" asp-for="Attachable">@T["Attachable"]</label>
        <span class="hint">@T["— {0}", "是否允许将此部件附加到其他内容类型。"]</span>
    </div>
</fieldset>

<fieldset class="form-group">
    <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" asp-for="Reusable">
        <label class="custom-control-label" asp-for="Reusable">@T["Reusable"]</label>
        <span class="hint">@T["— {0}", "是否允许此部件附加多次。"]</span>
    </div>
</fieldset>
